<template>
    <header class="posts">
        <h1>Liste des messages</h1>
        <table v-if="messages">
            <thead>
                <th>Sender</th>
                <th>Target</th>
                <th>Subject</th>
            </thead>
            <tbody>
                <tr v-for="message in messages" v-bind:key="message">
                    <td>{{message.sender}}</td>
                    <td>{{message.target}}</td>
                    <td>{{message.subject}}</td>
                </tr>
            </tbody>
        </table>
    </header>
</template>

<script>
    // eslint-disable-next-line no-unused-vars
    import axios from 'axios';
    export default {
        name: "Posts",
        data: function(){
            return {
                messages: null
            }
        },
        methods: {
            chargement: function(){
                axios.get("http://127.0.0.1:8000/api/messages")
                .then((success) => {
                    this.messages = success.data;
                })
            }
        },
        mounted: function() {
            this.chargement()
        }
    }
</script>

<style scoped lang="scss">
    *{
        font-family: sans-serif;
        margin: auto;
    }
    .posts{
        width: 80vw;
        margin: auto;
    }
</style>