<template>
  <div id="app">
    <posts></posts>
  </div>
</template>

<script>
//import TodoList from './components/TodoList.vue'
import Posts from "@/components/Posts";
export default {
  name: 'App',
  components: {
    Posts,
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
